main {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  background: #87c232;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  flex-wrap: wrap;
}

.row {
  display: flex;
  padding: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
